/* Réinitialisation des marges et paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style de la sidebar */
.sidebar {
    background-color: #333;
    color: #fff;
    padding: 15px;
    width: 250px;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar h2 {
    text-align: center;
}

.sidebar a {
    color: #fff;
    display: block;
    padding: 10px;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #575757;
}

/* Style du contenu principal */
.content {
    margin-left: 270px;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

fieldset {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Styles spécifiques pour l'affichage sur les petits écrans */
@media screen and (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    .content {
        margin-left: 0;
    }
}

@media screen and (max-width: 480px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}
